body{
    background-color: #edc292;
}

nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

nav ul li{
    display: inline-block;
    width: 20%;
}

nav ul li a{
    font-family: font;
    color: black;
    font-size: 25px;
    text-decoration: none;
}

@font-face {
    font-family: font;
    src: url(../font/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: font1;
    src: url(../font/DancingScript-VariableFont_wght.ttf);
}

nav ul li a:hover{
    color: white;
    transition: 0.5s;
}

.div1{
    position: relative;
}

.div1 img{
    width: 100%;
    height: 450px;
}

.div1 #text{
    position: absolute;
    top: 15%;
    text-align: center;
    font-size: 100px;
    color: white;
    width: 100%;
    font-family: font1;
}

h1{
    text-align: center;
    font-family: font;
    letter-spacing: 2px;
    animation: animacija 3s infinite;
}

.div2{
    width: 50%;
    float: left;
}

.div2 #text2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.div3{
    width: 50%;
    float: right;
}

.div3 img{
    height: 300px;
    width: 100%;
    border-radius: 15px;
}

.div2 #text2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    nav ul li{
        width: 100%;
    }
    form h1{
        text-align: center;
    }
}

@keyframes animacija {
    from{color:black;}
    to{text-shadow: 10px 10px 10px white;}
}
body{
    background-color: #edc292;
}

nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

nav ul li{
    display: inline-block;
    width: 20%;
}

nav ul li a{
    font-family: font;
    color: black;
    font-size: 25px;
    text-decoration: none;
}

@font-face {
    font-family: font;
    src: url(../font/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: font1;
    src: url(../font/DancingScript-VariableFont_wght.ttf);
}

nav ul li a:hover{
    color: white;
    transition: 0.5s;
}

form h1{
    font-family: font;
    text-align: center;
    font-size: 40px;
    animation: animacija 3s infinite;
}

input[type="text"], input[type="email"]{
    display: block;
    width: 300px;
    height: 50px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 15px;
}

textarea{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 5px;
}

input[type="submit"], input[type="reset"]{
    height: 40px;
    width: 120px;
    margin: 10px 20px;
    letter-spacing: 2px;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

input[type="submit"]:hover, input[type="reset"]:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
    border-radius: 10px;
}

input[type="text"]:hover, input[type="email"]:hover, textarea:hover{
    -webkit-box-shadow: 0px 0px 20px -3px #000000; 
    box-shadow: 0px 0px 20px -3px #000000;
}

@media screen and (max-width: 600px) {
    nav ul li{
        width: 100%;
    }
    form h1{
        text-align: center;
    }
}

@keyframes animacija {
    from{color:black;}
    to{text-shadow: 10px 10px 10px white;}
}
body{
    background-color: #edc292;
}

nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

nav ul li{
    display: inline-block;
    width: 20%;
}

nav ul li a{
    font-family: font;
    color: black;
    font-size: 25px;
    text-decoration: none;
}

@font-face {
    font-family: font;
    src: url(../font/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: font1;
    src: url(../font/DancingScript-VariableFont_wght.ttf);
}

nav ul li a:hover{
    color: white;
    transition: 0.5s;
}

.div1{
    position: relative;
}

.div1 img{
    width: 100%;
    height: 450px;
}

.div1 #text{
    position: absolute;
    top: 15%;
    text-align: center;
    font-size: 100px;
    color: white;
    width: 100%;
    font-family: font1;
}

.div4 #text3{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.div4 h1{
    text-align: center;
    font-family: font;
}

table{
    width: 40%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

table th{
    background-color: white;
    padding: 2%;
}

table td{
    padding: 1%;
}

@media screen and (max-width: 600px) {
    nav ul li{
        width: 100%;
    }
    form h1{
        text-align: center;
    }
}

@keyframes animacija {
    from{color:black;}
    to{text-shadow: 10px 10px 10px white;}
}

.div4 h1{
    font-size: 30px;
    animation: animacija 3s infinite;
}